<app-navbar></app-navbar>
<div class="wrapper">
  <app-sidebar></app-sidebar>

  <!-- Page Content -->
  <div id="content">
    <div class="container-fluid">

      <div class="tittle-inside"><span>Resumen de Espera</span></div>

      <div class="arrow-right"></div>

      <div class="row row-explorer">
        <div class="col-12" *ngIf="mostrarForm">
          <div class="top-button">
            <button type="button" class="blue-bottom" role="link" (click)="enviar()" data-toggle="tooltip" title="Reportes"><!-- data-toggle="tooltip" -->
              <i class="far fa-list-alt"></i></button>
            <button type="button" class="blue-bottom btn-green" (click)="excel()" data-toggle="tooltip" title="Exportar Excel"><!-- data-toggle="tooltip" -->
              <i class="far fa-file-excel"></i>
            </button>
          </div>
        </div>
        <div class="col-lg-6 col-12 col-md-6 col-sm-12">

          <app-parametros #Parametros [hidden]="!mostrarForm"></app-parametros>
       
      
            <app-series #series [hidden]="!mostrarForm"></app-series>
         

        </div>

        <div class="col-lg-6 col-12 col-md-6 col-sm-12">
          <app-oficinas #oficinas [hidden]="!mostrarForm"></app-oficinas>
        </div>

      </div>
      <app-resumenespera-reporte #reporte [hidden]="!mostrarReporte"></app-resumenespera-reporte>
    </div>
  </div>

</div>