<app-navbar></app-navbar>
<div class="wrapper">
  <app-sidebar></app-sidebar>

  <div id="content">
    <div class="container-fluid">
      <div class="tittle-inside"><span>Reporte DWH</span></div>
      <div class="arrow-right"></div>
      <app-reportes-batch-form #parametros [hidden]="!mostrarForm"></app-reportes-batch-form>

      <div class="row">
        <div class="col-12">
          <app-reportes-batch-listo #resultado [hidden]="!mostrarReporte"></app-reportes-batch-listo>
        </div>
      </div>
    </div>
  </div>
</div>
