<app-navbar></app-navbar>
<div class="wrapper">
  <app-sidebar></app-sidebar>

  <!-- Page Content -->
  <div id="content">
    <div class="container-fluid">
      <div class="tittle-inside"><span>Oficinas</span></div>
      <div class="arrow-right"></div>

      <div class="row row-explorer  font-dashboard">
        <div class="col-lg-6 col-12 col-md-6 col-sm-6">
          <div class="title-grey">
            <i class="far fa-copy"></i> Reportes Oficinas
          </div>
          <div class="content-white  pb-0">
            <div class="row">
              <div class="col-9">
                <i class="fas fa-caret-right blue-icon "></i>
                <a [routerLink]="['/oficinasZonas']"> Oficinas dashboard</a>
              </div>
              <div class="col-1">
                <p style="color: #005C8B;"><i class="far fa-list-alt"  title="Reporte Disponible"></i></p>
              </div>
              <div class="col-auto"></div>
              <div class="col-12">
                <hr class="mid-mar">
              </div>
              <div class="col-9">
                <i class="fas fa-caret-right blue-icon "></i>
                <a [routerLink]="['/oficinasReportes']"> Oficinas Resumen</a>
              </div>
              <div class="col-1" >
                <p style="color: #005C8B;"><i class="far fa-list-alt" title="Reporte Disponible"></i></p>
              </div>
              <div class="col-auto"></div>
              <div class="col-12">
                <hr class="mid-mar">
              </div>
              <div class="col-9">
                <i class="fas fa-caret-right blue-icon "></i>
                <a [routerLink]="['/vistaonline']"> Vista Online</a>
              </div>
              <!-- <div class="col-1" >
                <p style="color: #005C8B;"><i class="far fa-list-alt" title="Reporte Disponible"></i></p>
              </div>-->
              <div class="col-auto"></div>
              <div class="col-12">
                <hr class="mid-mar">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
