<app-navbar></app-navbar>
<div class="wrapper">
  <app-sidebar></app-sidebar>

  <!-- Page Content -->
  <div id="content">
    <div class="container-fluid">

      <div class="tittle-inside"><span>Ranking de Ejecutivo</span></div>
      <div class="arrow-right"></div>
        <div class="row row-explorer">

          <div class="col-lg-6 col-12 col-md-6 col-sm-6">
            <app-ranking-de-ejecutivos-form #formulario [hidden]="!mostrarForm"></app-ranking-de-ejecutivos-form>
          </div>

        <div class="col-lg-6 col-12 col-md-6 col-sm-6">
          <div class="content-white no-padding">
            <app-serie-radio #series [hidden]="!mostrarForm"></app-serie-radio>
          </div>

        </div>
        <div class="col-12">

          <div class="content-white no-padding">
            <app-ranking-de-ejecutivos-tabla #tabla [hidden]="!mostrarTabla"></app-ranking-de-ejecutivos-tabla>
          </div>

        </div>
      </div>

      <app-ranking-de-ejecutivos-reporte #reporte [hidden]="!mostrarReporte"></app-ranking-de-ejecutivos-reporte>

    </div>
  </div>

</div>