<div class="title-grey"><i class="fas fa-file-alt"></i>Parametros del Reporte</div>
<div class="content-white">

  <div class="row">
    <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12">
      <label class="input-text"> <i class="fas fa-caret-right blue-icon"></i> Desde</label>
      <input [(ngModel)]="fechaDesde" class="input-style float-right set-p" type="date" id="txtDesde">
    </div>
    <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12">
      <label class="input-text"> <i class="fas fa-caret-right blue-icon"></i> Hasta</label>
      <input [(ngModel)]="fechaHasta" class="input-style float-right set-p" type="date" id="txtHasta">
    </div>
    <!--<div class="col-lg-4 col-xl-4 col-md-4 col-sm-4">
      <label class="input-text">
        <i class="fas fa-caret-right blue-icon"></i>Filtrar por Rango : 
        <input class="input-style float-right cin-p">
      </label>  
    </div>
    <div class="col-lg-1 col-xl-1 col-md-1 col-sm-5">
      <button class="blue-bottom-small float-right"><i class="fas fa-arrow-alt-circle-right"></i></button>
    </div>-->
  </div>

</div>

<!--
<div class="row">
  <div class="col-lg-6">
    <div class="form-group">
      <label for="txtDesde">Desde</label>
      <input [(ngModel)]="fechaDesde" type="date" class="form-control" id="txtDesde">
    </div>
  </div>
  <div class="col-lg-6">
    <div class="form-group">
      <label for="txtHasta">Hasta</label>
      <input [(ngModel)]="fechaHasta" type="date" class="form-control" id="txtHasta">
    </div>
  </div>
</div>
-->