<div class="row row-explorer">
  <div class="col-12">
    <div class="top-button">
        <button type="button" class="btn btn-form" role="link" (click)="atras()">
            <i class="fas fa-arrow-left"></i> Volver
          </button>
    </div>
  </div>
  <div class="col-12">
    <div class="title-grey"><i class="far fa-calendar-check"></i> Fecha </div>

    <div class="content-white">
      <div class="row">
          <div class="col-lg-12 col-xl-2 col-md-12 col-sm-12 pr-0" data-toggle="tooltip" title="{{ superior[0] }}">
          <h5 class="big-grey"><i class="fas fa-building"></i>{{ superior[0]   | truncarTexto : 80 }}</h5>
        </div>

        <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 pr-0">

            <label class="input-text">Rango Horas 1 :<br>
              <span class="color-blue">{{ superior[1] }} Hrs a {{ superior[2] }} Hrs</span>
            </label>
           </div>
          <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 pr-0">
              <label class="input-text">Rango Horas 2 :<br>
                <span class="color-blue">{{ superior[3] }} Hrs a {{ superior[4] }} Hrs</span>
              </label>
            </div>
          <div class="col-lg-4 col-xl-4 col-sm-12 pr-0">
              <i class="fas fa-clock blue-icon"></i>
            <label class="input-text">Rango de Atención {{ superior[5] }}<span class="detalle">(min)</span></label>
          </div>

        </div>



    </div>
  </div>
  <div class="col-12">
    <div class="content-white no-padding">
      <table class="t-products">
        <colgroup>
          <col span="11" style="border: 1px solid #e7e7e7;">
        </colgroup>
        <thead>
          <tr>
            <td rowspan="2">Oficina</td>
            <td rowspan="2">Serie</td>
            <td colspan="2">Clientes Atendidos</td>
            <td rowspan="2" width="12%">Atención Prom</td>
          </tr>
          <tr>
            <td width="8%" >#</td>
            <td width="8%">%</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dato of datos">
            <td>{{ dato.oficina == 'TOT' ? 'Totales' : dato.oficina }}</td>
            <td>{{ dato.serie }}</td>
            <td>{{ dato.atendidos_n }}</td>
            <td>{{ dato.atendidos_porcentaje }}</td>
            <td align="right">{{ dato.atencion_promedio }}</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-12" style="display:none;" id="divReporte">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <h1>Rango de Atención (No Agrupado)</h1>

    <table width="60%" border='1'>
      <tr>
      <td width="30%" align="right"><b>Mes</b></td>
      <td width="70%"><b>{{ superior[0] }}</b></td>
      </tr><tr>
      <td align="right"><b>Rango de Horas</b></td>
      <td><b>{{ superior[1] }} Hrs. a {{ superior[2] }} Hrs y {{ superior[3] }} Hrs a {{ superior[4] }} Hrs.</b></td>
      </tr><tr>
      <td align="right"><b>Rango de Espera</b></td>
      <td><b>{{ superior[5] }} [ min ]</b></td>
      </tr>
    </table>
    <br>

    <table width="90%" border='1'>
      <tr align="center">
        <td rowspan="2"><b>Oficina</b></td>
        <td rowspan="2"><b>Serie</b></td>
        <td colspan="2"><b>Clientes Atendidos</b></td>
        <td rowspan="2"><b>Atencion Prom</b></td>
      </tr>
      <tr align="right">
        <td width="9%"><b>Numero</b></td>
        <td width="9%"><b>%</b></td>
      </tr>
      <tr align="right" *ngFor="let dato of datos; let i = index">
        <td>{{ dato.oficina == 'TOT' ? 'Totales' : dato.oficina }}</td>
        <td>{{ dato.serie }}</td>
        <td>{{ dato.atendidos_n }}</td>
        <td>{{ dato.atendidos_porcentaje }}</td>
        <td>{{ dato.atencion_promedio }}</td>
      </tr>
    </table>

  </div>
</div>

<div id="loader" [ngClass]="{'loader': gifCarga}"></div>
