<div class="title-grey"><i class="far fa-file-alt"></i> Parámetros del Reporte</div>
<div class="content-white">
<div class="row">
  <div class="col-lg-2">

      <label for="txtDesde">Desde</label>
 
  </div>
  <div class="col-4">
      <input [(ngModel)]="fechaDesde" type="date" class="input-style" id="txtDesde">

  </div>
  <div class="col-lg-2">
   
      <label for="txtHasta">Hasta</label>
  
  </div>
  <div class="col-4">
      <input [(ngModel)]="fechaHasta" type="date" class="input-style" id="txtHasta">

  </div>
</div>
</div>