@media screen and (min-width: 1400px){
    .capchaZomm {
       zoom: 92% !important;
       margin-left: 0%;
   }
   }

@media screen and (min-width: 1610px){
    .capchaZomm {
        zoom: 79% !important;
        margin-left: 7%;
    }
}

@media screen and (min-width: 1850px){
    .capchaZomm {
        zoom: 68% !important;
        margin-left: 12%;
    }
}


.box-logo {
    background: transparent;
    max-width: 100%;
}

form {
    max-width: 420px;
}

