<div class="row row-explorer">
  <div class="col-12">
    <div class="top-button">
        <button type="button" class="btn btn-form" role="link" (click)="atras()">
            <i class="fas fa-arrow-left"></i> Volver
          </button>
    </div>
  </div>
  <div class="col-12">
    <div class="title-grey"><i class="far fa-calendar-check"></i> Fecha </div>
    <div class="content-white">

      <div class="row">
        <div class="col-lg-8 col-xl-8 col-sm-12">
          <h2 class="big-grey"><i class="far fa-calendar"></i>{{ superior[0] }}</h2>
        </div>

        <!--<div class="col-lg-4 col-xl-4 col-sm-12">
          <label class="input-text">Filtrar por Oficina</label>
          <input class="input-style">
        </div>-->
      </div>

    </div>
  </div>
  <div class="col-12">
    <div class="content-white no-padding">
      <table class="t-products">
        <colgroup>
          <col span="12" style="border: 1px solid #e7e7e7;">
        </colgroup>
        <thead>
          <tr>
            <td rowspan="2">Oficina</td>
            <td rowspan="2">Serie</td>
            <td colspan="3">Turnos Emitidos</td>
            <td colspan="3">Turnos Atendidos</td>
            <td colspan="3">TOL VS Total</td>
          </tr>
          <tr>
            <td>Emitidos</td>
            <td>Perdidos</td>
            <td>%Per</td>
            <td>Emitidos</td>
            <td>Perdidos</td>
            <td>%Per</td>
            <td>Total</td>
            <td>% Emi</td>
            <td>% Per</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dato of datos; let i = index">
            <td *ngFor="let dat of dato; let j = index" [attr.rowspan]="j == 0 ? datos[0][0] : ''"
            [hidden]="j == 0">
              {{ dat == 'TOT' ? 'Totales' : dat }}
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12" style="display:none;" id="divReporte">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <h1>Resumen TOL</h1>

    <table width="30%" border='1'>
      <tr>
      <td align="right"><b>Mes</b></td>
      <td><b>{{ superior[0] }}</b></td>
      </tr>
    </table>
    <br>
    <table width="90%" border='1'>
      <tr align="center">
        <td rowspan="2"><b>Oficina</b></td>
        <td rowspan="2"><b>Serie</b></td>
        <td colspan="3"><b>Turnos Oficina</b></td>
        <td colspan="3"><b>Turnos TOL</b></td>
        <td colspan="3"><b>TOL vs Total</b></td>
      </tr>
      <tr align="center">
        <td><b>Emitidos</b></td>
        <td><b>Perdidos</b></td>
        <td><b>% Per</b></td>
        <td><b>Emitidos</b></td>
        <td><b>Perdidos</b></td>
        <td><b>% Per</b></td>
        <td><b>Total</b></td>
        <td><b>% Emi</b></td>
        <td><b>% Per</b></td>
      </tr>
      <tr align="right" *ngFor="let dato of datos; let i = index">
          <td *ngFor="let dat of dato; let j = index" [attr.rowspan]="j == 0 ? datos[0][0] : ''"
          [hidden]="j == 0">
            {{ dat == 'TOT' ? 'Totales' : dat }}
          </td>
      </tr>
    </table>

  </div>
</div>

<!--
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <h1>Resumen TOL</h1>

    <table width="30%" border='1'>
      <tr>
      <td bgcolor='#99ccff' align="right"><b>Mes</b></td>
      <td><b>{{ superior[0] }}</b></td>
      </tr>
    </table>
    <br>
    <table width="90%" border='1'>
      <tr align="center">
        <td bgcolor='#99ccff' rowspan="2"><b>Oficina</b></td>
        <td bgcolor='#99ccff' rowspan="2"><b>Serie</b></td>
        <td bgcolor='#99ccff' colspan="3"><b>Turnos Oficina</b></td>
        <td bgcolor='#99ccff' colspan="3"><b>Turnos TOL</b></td>
        <td bgcolor='#99ccff' colspan="3"><b>TOL vs Total</b></td>
      </tr>
      <tr align="center">
        <td bgcolor='#99ccff'><b>Emitidos</b></td>
        <td bgcolor='#99ccff'><b>Perdidos</b></td>
        <td bgcolor='#99ccff'><b>% Per</b></td>
        <td bgcolor='#99ccff'><b>Emitidos</b></td>
        <td bgcolor='#99ccff'><b>Perdidos</b></td>
        <td bgcolor='#99ccff'><b>% Per</b></td>
        <td bgcolor='#99ccff'><b>Total</b></td>
        <td bgcolor='#99ccff'><b>% Emi</b></td>
        <td bgcolor='#99ccff'><b>% Per</b></td>
      </tr>
      <tr align="right" *ngFor="let dato of datos; let i = index">
          <td *ngFor="let dat of dato; let j = index" [attr.rowspan]="j == 0 ? datos[0][0] : ''"
          [hidden]="j == 0" [attr.bgcolor]="i == datos.length ? '#99ccff' : ''">
            {{ dat == 'TOT' ? 'Totales' : dat }}
          </td>
      </tr>
    </table>
-->

<div id="loader" [ngClass]="{'loader': gifCarga}"></div>
