#content[_ngcontent-c1] {
  height: 100%!important;}

  .detalle{    color: #9b9b9b;
      font-family: 'Open Sans', sans-serif;
      font-style: italic;
      font-weight: 400;
      font-size: 0.7rem;}


.t-products tR:nth-child(odd)
{
background-color:#fff;
color: #6b6b6b;
border: 1px solid grey;
}


.t-products tR:nth-child(even)
{
  background-color:#fff;
  color: #6b6b6b;
  border: 1px solid grey;
  }


  tr, td {
      border: 1px solid grey;
  }

  h5{color: #9b9b9b}
  .container-fluid{height: 85vh!important;}

@media screen and (min-width: 1500px) {
.container-fluid {
      height: 55vh!important;
}}
