<div class="title-grey">
    <i class="fas fa-clipboard-list"></i> Motivos de Atención
  </div>
<table class="t-products">
    <colgroup>
      <col span="5" style="border-left: 1px solid #e7e7e7;">
    </colgroup>
    <thead>
      <tr>
        <td width="10%"><i class="fas fa-hashtag"></i></td>
        <td><i class="fas fa-puzzle-piece"></i> Series</td>
        <td width="10%"></td>
        <td width="3%"></td>
      </tr>
    </thead>
    </table>

<div class="content-white no-padding table-serie">
<table class="t-products">
  <colgroup>
    <col span="5" style="border-left: 1px solid #e7e7e7;">
  </colgroup>
   <tbody>
    <tr *ngFor="let serie of series">
      <th width="10%" scope="row">{{ serie.id }}</th>
      <td>{{ serie.serie }}</td>
      <td width="10%">
        <input type="radio" name="serie.id" (change)="marcar($event, serie)"/>
      </td>
    </tr>
  </tbody>
</table>
</div>