
<table class="t-products">
    <colgroup>
      <col span="11" style="border: 1px solid #e7e7e7;">
    </colgroup>
    <thead>
      <tr>
        <td width="4%">&nbsp;<i class="fas fa-hashtag"></i>&nbsp;</td>
        <td><i class="fas fa-building"></i> Oficina</td>
        <td width="4%"></td>
        <td width="4%"></td>
        <td width="4%"></td>
        <td width="12%">Fecha Min</td>
        <td width="12%">Fecha Max</td>
        <td width="1.5%"></td>
      </tr>
    </thead>
    </table>
<div class="content-white no-padding">

<table class="t-products">
  <colgroup>
    <col span="11" style="border: 1px solid #e7e7e7;">
  </colgroup>

  <tbody>
    <tr *ngFor="let row of rows_oficinas">
      <td width="4%"> {{ row.id_oficina }} </td>
      <td> {{ row.detalle }} </td>
      <td width="4%"><button class="btn button-list" (click)="mostrarReporte(row.id_oficina)" title="Reportes"><i class="far fa-list-alt"></i></button></td>
      <td width="4%"><button class="btn button-list" (click)="generarExcel(row.id_oficina)" title="Exportar Excel"><i class="far fa-file-excel"></i></button></td>
      <td width="4%"><button class="btn button-list"(click)="mostrarGrafico(row.id_oficina)" title="Reportes Gráficos"><i class="fas fa-chart-line"></i></button></td>
      <td width="12%"> {{ row.fechaMin }} </td>
      <td width="12%"> {{ row.fechaMax }} </td>
    </tr>
  </tbody>
</table>

<div id="divReporte" class="container" style="display:none;">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8">
	<table width="50%" border='1'>
		<tr>
			<td  align="right"><b>Oficina</b></td>
			<td><b> {{ titulo }} </b></td>
    </tr>
    <tr>
			<td  align="right"><b>Serie</b></td>
			<td><b> {{ serieDetalle }} </b></td>
		  </tr><tr>
			<td  align="right"><b>Dia</b></td>
			<td><b> {{ rangoFecha }} </b></td>
		</tr>
	</table>
  <br>
  <table width="80%" border='1'>
    <tr align="center">
      <td  rowspan="2" width="16%"><b>Hora</b></td>
      <td  rowspan="2" width="14%"><b>Turnos<br>Emitidos</b></td>
      <td  colspan="2" width="28%"><b>Turnos Atendidos</b></td>
      <td  rowspan="2" width="14%"><b>Turnos<br>Perdidos</b></td>
      <!-- <td  rowspan="2" width="14%"><b>Turnos Perdidos TOL</b></td> -->
      <td  rowspan="2" width="14%"><b>Ejecutivos<br>Activos</b></td>
      <td  rowspan="2" width="14%"><b>Espera<br>Media</b></td>
      <!-- <td  rowspan="2" width="14%"><b>Delta Espera<br>Media</b></td> -->
    </tr>
    <tr align="center">
      <td  width="14%"><b>Normal</b></td>
      <!-- <td  width="14%"><b>TOL</b></td> -->
      <td  width="14%"><b>Especial</b></td>
    </tr>
    <tr align="center" *ngFor="let rowReportes of rows_cargaDeTrabajoDiaria">
      <td>{{ rowReportes.hora }}</td>
      <td>{{ rowReportes.turnosEmitidos }}</td>
      <td>{{ rowReportes.turnosAtendidosNormal }}</td>
      <!-- <td>{{ rowReportes.turnosAtendidosTOL }}</td> -->
      <td>{{ rowReportes.turnosAtendidosEspecial }}</td>
      <td>{{ rowReportes.turnosPerdidos }}</td>
      <!-- <td>{{ rowReportes.turnosPerdidosTOL }}</td> -->
      <td>{{ rowReportes.ejecutivosActivos }}</td>
      <td>{{ rowReportes.esperaMedia }}</td>
      <!-- <td>{{ rowReportes.deltaEsperaMedia }}</td> -->
    </tr>
    <tr align="center">
      <td  rowspan="3"><b>Totales</b></td>
      <td  rowspan="3"><b> {{ totalTurnosEmitidos }} </b></td>
      <td ><b> {{ totalNormal }} </b></td>
      <!-- <td ><b> {{ totalTOL }} </b></td> -->
      <td ><b> {{ totalEspecial }} </b></td>
      <td ><b> {{ totalTurnosPerdidos }} </b></td>
      <!-- <td ><b> {{ totalTurnosPerdidosTOL }} </b></td> -->
      <td colspan="2"></td>
    </tr>
    <tr align="center">
      <td colspan="5" ><b> {{ totalGeneral }} </b></td>
      <td colspan="2"></td>
    </tr>
  </table>
</div>
</div>